<h1>Update homepage image</h1>

<%= form_for @home, :url => manager_update_home_path( @home ) do |f| %>
  <% if @home.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@home.errors.count, "error") %> prohibited this home from being saved:</h2>

      <ul>
      <% @home.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <!-- div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </div -->
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to 'Delete', manager_destroy_home_path(@home) %> |
<%= link_to 'Back', manager_index_home_path %>
