<style>
	#preview img { width:100%; }
	#preview { width:175px; }
</style>
<h1>Manage Services</h1>
<div class="left clear marb20"><%= link_to "Add a new service", manager_new_services_path %></div>

<table cellspacing="10" width="700px">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Date Created</th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= link_to service.title, service.image_url, :class =>"preview" %></td>
    <td><%= truncate( service.description, :length => 50 ) %></td>
    <td><%= service.price %></td>
    <td><%= service.created_at.strftime("%B %d, %Y") %></td>
    <td><%= link_to 'Edit', manager_edit_services_path(service.id) %></td>
    <td><%= link_to 'Delete', manager_destroy_services_path(service.id) %></td>
  </tr>
<% end %>
</table>

<div id="paginate-style">
	<%= will_paginate @services %>
</div>
<div class="clear"></div>

