<h1>Manage Gallery Sections</h1>
<div class="left clear marb20"><%= link_to "Create a new gallery section", manager_new_gallery_sections_path %></div>
		   	
<table cellspacing="10" width="700px">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
  </tr>
	<% @gallery_sections.each do |gallery| %>
		<tr>
	    	<td><%= link_to gallery.title, gallery.photo.url(:thumb), :class =>"preview" %></td>
	    	<td><%= gallery.body %></td>
	    	<td><%= link_to 'Edit', manager_edit_gallery_sections_path(gallery.id) %></td>
	    	<td><%= link_to 'Delete', manager_destroy_gallery_sections_path(gallery.id) %></td>
	    </tr>
	<% end %>
</table>
	
<div id="paginate-style">
	<%= will_paginate @gallery_sections %>
</div>
<div class="clear"></div>