<style type="text/css">
.gallery {
    width: 760px;
}
#paginate-style {
    width: 660px;
}
#main{
	float:left;
	clear:both;
}
</style>

<h1>Manage Gallery Images</h1>
<div class="left clear marb20"><%= link_to "Create a new gallery image", manager_new_gallery_path %></div>
<div id="main">
		   	
<table cellspacing="10" width="700px">
  <tr>
    <th>Title</th>
    <th>Section</th>
    <th>Date Posted</th>
    <th></th>
    <th></th>
  </tr>
	<% @galleries.each do |gallery| %>
	<tr>
    	<td><%= link_to gallery.title, gallery.photo.url(:thumb), :class =>"preview" %></td>
    	<td><%= get_gallery_section :category_id => gallery.gallery_id %></td>
    	<td><%= @gallery_section.created_at.strftime("%B %d, %Y") %></td>
    	<td><%= link_to 'Edit', manager_edit_gallery_path(gallery.id) %></td>
    	<td><%= link_to 'Delete', manager_destroy_gallery_path(gallery.id) %></td>
    </tr>
	<% end %>
</table>
			
</div>
	
<div id="paginate-style">
	<%= will_paginate @galleries %>
</div>
<div class="clear"></div>