<h1>Manage Gallery Images</h1>
<div id="main">
		   	
	<ul class="gallery clearfix">
	<% @galleries.each do |gallery| %>
		<%  gallery_id = "1212" + gallery.id.to_s
			@comment = Comment.find(:all, :conditions => [ "blog_id=?", gallery_id ]) %>
		<li class="marb10 clear">
			<div class="left"><img src="<%= gallery.photo.url(:thumb) %>" width="175" height="175" /></div>
			<div id="info" style="width:375px;">
				<%= link_to gallery.title, manager_edit_gallery_path(gallery.id) %>
				<p><%= gallery.body %></p>
				<% if @comment.count > 0 %>
	  				<span class="comment-count"><%= @comment.count %> commet<% if !@comment.count.equal? 1 %>s<% end %></span>
	  			<% end %>
			</div>
			<div class="clear"></div>
		</li>
	<% end %>
		<li><%= link_to "Create a new gallery image", manager_new_gallery_path %></li>
	</ul>
			
</div>
	
<div id="paginate-style">
	<%= will_paginate @galleries %>
</div>
