<style>
	#preview img { width:100%; }
	#preview { width:500px; }
</style>

<h1>Manage Home Page Images</h1>
<div class="left clear marb20"><%= link_to "Add new home page image", manager_new_home_path %></div>

<table cellspacing="10" width="700px">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Date Created</th>
    <th></th>
    <th></th>
  </tr>
	<% @homes.each do |home| %>
	<tr>
    	<td><%= link_to home.title, home.photo.url(:home), :class =>"preview" %></td>
    	<td><%= truncate( home.body, :length => 50 ) %></td>
    	<td>
    		<%= home.created_at.strftime("%B %d, %Y") %>
    	</td>
    	<td><%= link_to 'Edit', manager_edit_home_path(home.id) %></td>
    	<td><%= link_to 'Delete', manager_destroy_home_path(home.id) %></td>
    </tr>
		
	<% end %>
	
</table>
<div id="paginate-style">
	<%= will_paginate @homes %>
</div>
<div class="clear"></div>
