<h1>Add images to gallery</h1>

<%= form_for @gallery, :url => manager_create_gallery_path, :html => { :multipart => true } do |f| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

      <ul>
      <% @gallery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </div>
  <div class="field">
  	<select name="gallery[gallery_id]">
  		<% @gallery_sections.each do |gallery| %>
			<option value="<%= gallery.id %>"><%= gallery.title %></option>
		<% end %>
	</select>
  </div>
  <div class="actions">
    <%= f.submit "Add Image"%>
  </div>
<% end %>

<%= link_to 'Back', manager_index_gallery_path %>
