<div id="comments-header" class="marb10">
	<button id="post-comments">Post a comment</button>
	<% if @comments.count > 0 %>
		<div id="view-comments-count">View comments (<%= @comments.count %>)</div>
	<% end %>
	<div class="clear"></div>
</div>

<% @comments.each do |comment| %>
  <fieldset class="comment clear">
  	<% if comment.website.empty? %>
  		<legend><%= comment.name %> <strong>Says:</strong></legend>
  	<% else %>
  		<legend><%= link_to comment.name, comment.website %> <strong>Says:</strong></legend>
  	<% end %>
  	<% if current_user %>
  	  	<%= link_to image_tag("close-button.png", :border => 0), remove_comment_blog_path(comment.id,comment.blog_id), :border => 0, :class => "right", :method => :delete %>	
  	<% end %>
    <p class="comment-body"><%= comment.comment %></p>
    <p class="info"><%= comment.created_at.strftime("%B %d %Y at %I:%M %p") %> </p>
  </fieldset>
<% end %>
<div id="paginate-style">
	<%= will_paginate @comments %>
</div>
