<!-- begin bottom page nav -->
<div id="bottom_page_nav" class="mar10">
        <%= link_to "About", homes_path %> <!-- | <%= link_to "Services", "#"%>  -->| <%= link_to "A Chic Blog", blog_home_path %> | <%= link_to "Request Information", request_path %> | <%= link_to "Gallery", gallery_view_path %>
</div>
<!-- end bottom page nav -->