<!-- begin top page nav -->
<div id="top_pag_nav">
     <%= link_to "About", homes_path %>  <!-- <%= link_to "Services", "#"%>  --><%= link_to "A Chic Blog", blog_home_path %>  <%= link_to "Request Information", request_path %>  <%= link_to "Gallery", gallery_view_path %>
</div>
<!-- end top page nav -->