<div id="gallery-show">
	<div class="gallery-show-title"><%= @gallery_section.title %></div>
		   	
	<div class="gallery clearfix">
	<% @galleries.each do |gallery| %>
		<div class="gallery-img">
			<div class="left"><a href="<%= gallery.photo.url(:lightbox) %>" rel="prettyPhoto[gallery1]" title="<%= truncate( gallery.body, :length => 200, :omission => '... (continued)' ) %>"><img src="<%= gallery.photo.url(:thumb) %>" width="175" height="175" alt="<%= gallery.title %>" /></a></div>
			<!--  -->
			<div class="clear"></div>
		</div>
	<% end %>
	</div>

			
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			$(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'dark_rounded',slideshow:5000, autoplay_slideshow: false});
			$(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000});
		
			$("#custom_content a[rel^='prettyPhoto']:first").prettyPhoto({
				custom_markup: '<div id="map_canvas" style="width:260px; height:265px"></div>',
				changepicturecallback: function(){ initialize(); }
			});

			$("#custom_content a[rel^='prettyPhoto']:last").prettyPhoto({
				custom_markup: '<div id="bsap_1259344" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div><div id="bsap_1237859" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6" style="height:260px"></div><div id="bsap_1251710" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div>',
				changepicturecallback: function(){ _bsap.exec(); }
			});
		});
	</script>
</div>
	
<div id="paginate-style">
	<%= will_paginate @galleries %>
</div>
