<%= image_tag @gallery.photo.url(:lightbox) %>

<p>
  <b>Title:</b>
  <%= @gallery.title %>
</p>

<p>
  <b>Body:</b>
  <%= @gallery.body %>
</p>

<div id="view-comments" class="clear">
	<%= render :partial => 'view_comments' %>
</div>

<div id="add-comments" class="clear" style="display:none;">
	<%= render :partial => 'add_comment' %>
</div>
