<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @gallery.title %>
</p>

<p>
  <b>Body:</b>
  <%= @gallery.body %>
</p>


<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
