<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>A Chic Blog > Something Chic Party and Event Design > Cincinnati, Ohio > SCPEdesign.com</title>
        <link rel="icon" type="image/png" href="/images/logo.png" />
		<%= stylesheet_link_tag "master" %>
  		<%= javascript_include_tag "jquery", "application" %>
  		<%= csrf_meta_tag %>
    </head>
    <body>
        <div id="cd_home_page">
	<div id="cd_header">
        <%= image_tag('/images/sc_header.jpg', :id => 'banner') %>  
		<%= render :partial => 'shared/top_nav' %>        
	</div>

    
    <div id="page_display_info">
        <div class="left pad5">    
            <div class="site_title left">somethingchic.com</div>
            <div class="page_title left">A Chic Blog</div>   
            <div class="clear"></div>
        </div>


   		<div class="clear"></div>
    </div><!-- page_display_info -->
    
    <div id="cd_home_page_body">
		<!-- begin cd_home_page_body -->
	<%= yield %>
		<!-- end cd_home_page_body -->
        <div class="clear"></div>
	</div>
	
	<div class="clear"></div>
    <%= render :partial => 'shared/bottom_nav' %> 
    <div class="copyright">&copy; 2010 <a href="#">Something Chic</a> All rights reserved</div> 
</div><!-- cd_home_page -->

    </body>
</html>
